/* Navbar.css
   Simple, clean styling for the top navigation bar.
   Use className vs. class to follow JSX convention.
*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 80px;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 50;
  
}
.nav-left .brand {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 9999px;
}
.brand-text {
  font-weight: 700;
  font-size: 25px;
  color: #111827;
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.nav-links a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: color 0.2s;
  position: relative;
}
.nav-links a.active {
  color: #f865cc;
  
  padding-bottom: 2px;
}

.nav-links a:hover{
    color: rgb(248, 187, 245);
}
.nav-links a::after{
    content:'';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: rgb(248, 187, 245);
    transition: width 0.3s;
}
.nav-links a:hover::after{
    width: 100%;
}
